.carousel {
  position: relative;
  max-height: 100vh;
  border-radius: 30px;
  overflow: hidden;
  margin: 20px 0 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    351deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(250, 255, 0, 1) 50%
  );
}

.carousel img {
  border-radius: 20px;
}
.imgCarousel {
  width: 95vw !important;
  margin: auto;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.prev {
  position: absolute;
  top: 50%;
  left: -75px;
  transform: translateY(-50%);
  cursor: pointer;
  background: #fd0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next {
  position: absolute;
  top: 50%;
  right: -75px;
  transform: translateY(-50%);
  cursor: pointer;
  background: #fd0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  padding-left: 50px !important;
  color: "#000" !important;
}
.right {
  color: "#000" !important;
  padding-right: 50px !important;
}

@media (max-width: 1255px) {
  .next,
  .prev {
    display: none;
  }
}
