* {
  padding: 0;
  margin: 0;
}

.carousel-item {
  width: 500px;
  height: 50vh;
  margin-right: 200px !important;
}
.pop {
  padding: 0;
}

@media (min-width: 768px) {
  .carousel-item {
    width: 500px;
    height: auto;
    margin-right: 310px !important;
  }
  .pop {
    margin: 25px 0;
  }
  .carousel-container {
    width: 100%;
    height: 100vh;
    padding-top: 150px;
  }
  .carousel-card {
    height: 100vh;
  }
}

@media (min-width: 992px) {
  .carousel-card {
    padding-right: 150px;
  }
  .carousel-container {
    height: 100vh;
    margin: 0 25px 0 25px;
    position: relative;
  }
  .carousel-item {
    width: 500px;
    height: 100vh;
    margin-right: 80px !important;
  }
  .nextt2 {
    position: absolute;
    right: -2%;
    top: 50%;
    background-color: yellow;
    border: none;
    font-size: 40px;
    margin-right: 15px;
    z-index: 899;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
  }
  .prevv2 {
    position: absolute;
    left: -4%;
    top: 50%;
    background-color: yellow;
    border: none;
    font-size: 40px;
    margin-left: 15px;
    z-index: 999;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
  }
  .pop {
    margin-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
